{% extends "base.html" %}

{% block header %}
{% endblock header %}

{% block content %}
   <section id="about-me" class="container">
      <div>
          <img src="/static/images/profile_pic.jpg" class="profile_image" width="30" height="40"/>
      </div>

      <div>
          <h1>
            Hi, I'm James. 
          </h1>
          <p>
            I build things for the web and occasionally create android apps.

            I spent 21 years in the United States Air Force as a RF communications nerd  managing IT teams.
            Currently I am working on creating this website and working with 
            <a href="https://www.omnihr.org/">OmniHR</a> in the development of their HRM system.
            Check out some of my <a href="{{ url_for('pages.projects') }}">projects</a>. 
          </p>
      </div>
    </section>

   <section id="skills"> 
     <div>
       <h3>
         My web/app toolbox:
       </h3>
     </div>
       <img src="/static/images/html5.png"/>
       <img src="/static/images/css3.png"/>
       <img src="/static/images/python.png"/>
       <img src="/static/images/vb.png"/>
       <img src="/static/images/java.png" />
       <img src="/static/images/git.png" />
       <img src="/static/images/github.png" />  
     <div>
       <h3>
         Certifications:
       </h3>
     </div>
       <a href="https://www.certmetrics.com/comptia/public/verification.aspx?code=19GFF0EVM496VNC1"><img src="/static/images/aplus.png"/></a>
       <a href="https://www.certmetrics.com/comptia/public/verification.aspx?code=D4NGSVTJ8K1458TW"><img src="/static/images/networkplus.png"/></a>
       <a href="https://www.certmetrics.com/comptia/public/verification.aspx?code=7JY748H9Q4KPVWC0"><img src="/static/images/securityplus.png"/></a>
       <a href="https://www.certmetrics.com/comptia/public/verification.aspx?code=W9M8HLV0CVPLVGKZ"><img src="/static/images/projectplus.png"/></a>
       <img src="/static/images/csis.png"/>
       <a href="https://cp.certmetrics.com/amazon/en/public/verify/credential/V4Y6CS0K0ER4Q15N"><img src="/static/images/awsccp.png"/></a>
       <a href="https://cs.lpi.org/caf/Xamman/certification/verify/LPI000599703/q4sw4kdf3c"><img src="/static/images/LPI.png"/></a> 
   </section>



{% endblock content %}
