{% extends "base.html" %}

{% block header %}
{% endblock header %}

{% block content %}
   <section id="about-me" class="container">
      <div>
          <img src="/static/images/profile_pic.jpg" class="profile_image" width="30" height="40"/>
      </div>

      <div>
          <h1>
            Hi, I'm James. 
          </h1>
              <p style="font-weight: bold;">For over 20 years, I proudly served as an IT leader in the United States Air Force, managing tech teams and launching innovative IT projects.</p>
              <p style="margin-top: 10px;">These days, I’m embracing new challenges and opportunities, including:<br></p>
              <p style="margin-top: 10px;">Designing advanced <strong>PowerOn</strong> scripts (if you know, you know).<br>
                                           Advancing my skills through the <strong>Microsoft Cybersecurity Analyst course</strong>.<br>
                                           Building this very website you're exploring right now.<br></p>
             <p style="margin-top: 10px;">When I’m not diving into Python, SQL, or sysadmin tasks, you’ll likely find me carving down the slopes on my snowboard or experimenting with my homelab setup.</p>
             <p style="margin-top: 10px;">Feel free to take a look at some of my <a href="{{ url_for('pages.projects') }}">projects</a>. </p>
      </div>
    </section>

   <section id="skills"> 
     <div>
       <h3>
         My toolbox:
       </h3>
     </div>
       <img src="/static/images/html5.png"/>
       <img src="/static/images/css3.png"/>
       <img src="/static/images/sql.png"/>
       <img src="/static/images/python.png"/>
       <img src="/static/images/vb.png"/>
       <img src="/static/images/java.png" />
       <img src="/static/images/git.png" />
       <a href="https://github.com/iamklutch" target="_blank" rel="noopener noreferrer"><img src="/static/images/github.png" /></a>  
     <div>
       <h3>
         Certifications:
       </h3>
     </div>
       <a href="https://www.certmetrics.com/comptia/public/verification.aspx?code=19GFF0EVM496VNC1" target="_blank" rel="noopener noreferrer"><img src="/static/images/aplus.png"/></a>
       <a href="https://www.certmetrics.com/comptia/public/verification.aspx?code=D4NGSVTJ8K1458TW" target="_blank" rel="noopener noreferrer"><img src="/static/images/networkplus.png"/></a>
       <a href="https://www.certmetrics.com/comptia/public/verification.aspx?code=7JY748H9Q4KPVWC0" target="_blank" rel="noopener noreferrer"><img src="/static/images/securityplus.png"/></a>
       <a href="https://www.certmetrics.com/comptia/public/verification.aspx?code=W9M8HLV0CVPLVGKZ" target="_blank" rel="noopener noreferrer"><img src="/static/images/projectplus.png"/></a>
       <img src="/static/images/csis.png"/>
       <a href="https://cp.certmetrics.com/amazon/en/public/verify/credential/V4Y6CS0K0ER4Q15N" target="_blank" rel="noopener noreferrer"><img src="/static/images/awsccp.png"/></a>
       <a href="https://cs.lpi.org/caf/Xamman/certification/verify/LPI000599703/q4sw4kdf3c" target="_blank" rel="noopener noreferrer"><img src="/static/images/LPI.png"/></a>
       <a href="{{ url_for('pages.itilcert') }}"><img src="/static/images/itil_badge.png"/></a>
     <div>
       <h3>
          Education:
       </h3>    
     </div>
      <img src="/static/images/ccaf.png"/>
      <a href="https://www.wgu.edu/alumni/commencement/e-diploma-verification/validate.html') }}"><img src="/static/images/WGU logo.png"/></a>
      <p>24PU-VK0J-JDAS</p>
   </section>



{% endblock content %}
