{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Home{% endblock title %}</h2>
{% endblock header %}

{% block content %}
    <section class="projects" id="projects">
      <h2>
        Projects
      </h2>
      <div style="clear:both;"></div>

        <div id="projects-container" class="projects-container">
          <div class="project-card">
            <h3>PowerOn Programmer</h3>
            <ul>
              <li>Finished the PowerOn 101, 102, and 103 courses from Jack Henry. Created powerful scripts in PowerOn that streamline operations and deliver insightful impacts. Leveraged HTML
	       to create solutions for data analysis, disaster recovery, and financial reporting.</li>
            </ul>
          </div>
          <hr>
          <div class="project-card">
            <h3>SQL Squirrel</h3>
            <ul>
              <li>Certified Meta Database Engineer. Used SQL to create disaster recovery databases to protect busienesses and members from financial loss. </li>
            </ul>
          </div>
          <hr>
          <div class="project-card">
            <h3>Project Euler Coder</h3>
            <ul>
              <li>Finished the first 17 problems on project Euler, using Python as my programming language of choice.</li>
            </ul>
          </div>
    </div>
    </section>
    <div style="clear:both;"></div>
{% endblock content %}
