{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Home{% endblock title %}</h2>
{% endblock header %}

{% block content %}
    <section class="projects" id="projects">
      <h2>
        Projects
      </h2>
      <div style="clear:both;"></div>

        <div id="projects-container" class="projects-container">
          <div class="project-card">
            <h3>PowerOn Prodigy: Mastering FinTech Automation</h3>
            <ul>
              <li>In under two months, I completed the PowerOn 101, 102, and 103 courses from Jack Henry, rapidly acquiring advanced expertise in PowerOn scripting. 
		During this time, I authored over 20 custom scripts that streamlined operations, enhanced data analysis, and delivered meaningful impacts in disaster 
		recovery and financial reporting. By leveraging HTML alongside PowerOn, I created intuitive and robust solutions tailored to meet diverse organizational needs.<br>
		<br>
		While working on these projects, I discovered a critical bug in an existing process and fixed a significant error introduced by a third-party professional scripting 
		company, showcasing my attention to detail and problem-solving skills. These achievements reflect my ability to quickly master new tools, identify opportunities for 
		improvement, and deliver reliable solutions that drive operational efficiency and innovation.</li>
            </ul>
          </div>
          <hr>
          <div class="project-card">
            <h3>SQL Squirrel: Driving Data-Driven Decisions</h3>
            <ul>
              <li>As a Certified Meta Database Engineer, I have demonstrated expertise in designing, managing, and optimizing SQL-driven solutions that safeguard business continuity 
		and enhance data analytics capabilities. In my role as a Database Administrator, I created disaster recovery databases using SQL to protect businesses and members 
		from potential financial loss, ensuring critical data integrity and availability during emergencies.<br>
		<br>
		Collaborating with a team of engineers, I co-designed, built, installed, and rigorously tested a SQL server to enable advanced reporting and data analytics for 
		financial data. Leveraging my skills in crafting sophisticated SQL queries, I provided actionable insights that empowered the CEO and CFO to identify growth opportunities, 
		develop new products, and strategically target emerging customer segments. These efforts not only enhanced decision-making but also underscored the value of data as a key 
		driver of innovation and success.</li>
            </ul>
          </div>
          <hr>
          <div class="project-card">
            <h3>VBA Vanguard: Innovating Accountability Solutions</h3>
            <ul>
              <li>Faced with the challenge of accounting for over 250 personnel in a time-sensitive environment, 
		I developed a custom Visual Basic for Applications (VBA) solution that transformed a manual two-hour process into a 
	       streamlined 30-minute workflow. Leveraging ingenuity and resourcefulness, I repurposed an unused 2D scanner to read QR codes, 
		seamlessly integrating it with the VBA application to automate data capture and reporting.<br>
		<br>
		The project was constrained by existing tools and infrastructure, but by piecing together available resources and optimizing processes, 
		I created a solution that enabled leadership to generate reports faster, empowering the team to return to mission-critical tasks sooner. 
		This project is a testament to my ability to innovate within limitations, optimize workflows, and deliver impactful solutions under real-world constraints.</li>
            </ul>
          </div>
    </div>
    </section>
    <div style="clear:both;"></div>
{% endblock content %}
