{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Home{% endblock title %}</h2>
{% endblock header %}

{% block content %}
    <section id="skills">
        <h2>Skills</h2>
        <div style="clear:both;"></div>

        <div class="all_skills">
        <div class="skill">
          <img src="static/images/html5.png"/>
          <h6>HTML</h6>
          <p>2 years experience</p>
        </div>  

        <div class="skill">
          <img src="static/images/css3.png"/>
          <h6>CSS3</h6>
          <p>3 years experience</p>
        </div> 

        <div class="skill">
            <img src="static/images/github.png"/>
            <h6>GitHub</h6>
            <p>3 years experience</p>
          </div>  

        <div class="skill">
            <img src="static/images/python.png"/>
            <h6>Python</h6>
            <p>3 years experience</p>
        </div>  

        <div class="skill">
            <img src="static/images/java.png"/>
            <h6>Java</h6>
            <p>3 years experience</p>
        </div>  

        <div class="skill">
            <img src="static/images/git.png"/>
            <h6>Git</h6>
            <p>3 years experience</p>
        </div>  
        <!-- Add more skills here -->


      </div>
    </section>
{% endblock content %}
