<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
    <div id="home">
        <div class="profile_name">
            James Higashiyama
            <div class="contact_info">
            <img src="/static/images/envelope.png" alt="https://icons8.com/icon/124377/circled-envelope"/>
            <a href="mailto:jhiggy@jeemail.com">jhiggy@jeemail.com</a>
        </div>
        <div style="clear:both;"></div>
        <div class="contact_info">
        <!--    <img src="/static/images/phone.png" alt="https://icons8.com/icon/124377/circled-envelope"/>
            +1-800-867-5309
        -->
        </div>
        </div>
        <div class="topdiv">
          <a class="topmenu" href="{{ url_for('pages.home') }}">About</a>
          <!-- <a class="topmenu" href="{{ url_for('pages.skills') }}">Skills</a> -->
          <a class="topmenu" href="{{ url_for('pages.projects') }}">Projects</a>
          <a class="topmenu" href="mailto:jhiggy@jeemail.com">Contact</a> 
        </div>
      </div>    
</nav>

