<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
    <div id="home">
        <div class="profile_name">
            James Higashiyama
            <div class="contact_info">
            <a href="https://www.linkedin.com/in/james-higashiyama"><img src="/static/images/linkedin.png" alt="https://icons8.com/icon/447/linkedin"/></a>
            <a href="https://github.com/iamklutch"><img src="/static/images/github_outline.png" alt="https://icons8.com/icon/12598/github"/></a>
        </div>
        <div style="clear:both;"></div>
        <div class="contact_info">
        </div>
        </div>
        <div class="topdiv">
          <a class="topmenu" href="{{ url_for('pages.home') }}">About</a>
          <!-- <a class="topmenu" href="{{ url_for('pages.skills') }}">Skills</a> -->
          <a class="topmenu" href="{{ url_for('pages.projects') }}">Projects</a>
          <a class="topmenu" href="mailto:jhiggy@jeemail.com">Contact</a> 
        </div>
      </div>    
</nav>

